* {
  cursor: url(images/crosshair.png), auto;
}

body {
  background-image: url(images/pagebackground.jpg);
}

canvas {
  background-image: url(images/tempcanvas.jpg);
  margin: auto;
  display: block;
}
